<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app">
		
		<input type="text" v-model="input_text" autofocus>
		<ul>
			<li v-for="item in array | filterBy input_text">{{item.name}}, {{ item.age | currency 'грн' 0}}</li>
			<!-- <li v-for="item in array" :filter-key="input_text">{{item.name}}, {{ item.age}}</li> -->
		</ul>
	</div>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	 <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
	<script>
		new Vue({
			el:"#app",
			data:{
				input_text:"",
				array:[
					{
						name: 'Иван',
						age: 45
					},
					{
						name: 'Вика',
						age: 19
					},
					{
						name: 'Иван',
						age: 29
					},
					{
						name: 'Максим',
						age: 20
					},
				]
			}
		});
	</script>
</body>
</html>